
    body {
        background-image: url('b.jpg'); 
        background-size: cover; 
        background-repeat: no-repeat; 
        text-align: center;
        background-attachment: fixed;
       
     }
     
 #naw{
    
   
    background-color: rgba(0, 0, 0, 0.4);
    word-spacing: 20px;
    font-size: 20px;
    
   
 }


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

.carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    
  
}

nav a:hover {
    background-color: #111;
}

#tekst{

float:left;

}

.logo {
    width: 55px;
    height: 55px;
    margin: 15px 0;
  }


form {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 25px;
  }
  
  footer {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: black;
    line-height: 50px;

  }
      